.menu-content {
  width: 175px;
  //   background-color: rgb(200, 105, 105);
  border-radius: 0.35rem;
  color: #858796;
  text-align: left;
  list-style: none;
  background-color: rgb(179, 62, 62);
}
