.container-tab {
}

.row-tab {
  display: flex;
  justify-content: space-evenly;
}

.tab-left {
  border: 1px solid #c9d7e8;
  padding-bottom: 10px;
  flex: 2;
  background-color: rgb(190, 198, 207, 0.2);
  margin-right: 20px;
  padding: 0 50px;
  border-radius: 7px;
}

.tab-detail {
  font-size: 16px;
  font-weight: 700;
}

.tab-right {
  border: 1px solid #c9d7e8;
  border-radius: 7px;
  flex: 1;
  margin-left: 10px;
}

.tab-description {
  padding: 10px 0px;
  width: 100%;
}

.tab-description-tile {
  color: #3c6090;
  font-size: 21px;
  font-weight: 700;
  position: relative;
  padding-left: 5px;
}

.tab-description-tile::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #3c6090;
}

.spend {
  color: #000000;
  padding-left: 3px;
  font-weight: bold;
}

.spend-title {
  color: #000000;
  padding-left: 3px;
  font-weight: 500;
}

.spend-content {
  padding-left: 10px;
  font-size: 14px;
}
