.itemKey {}

.detailItem {}

.content-right-invoices {}

.detailItemFeeInvoiceDetails {
    padding: 6px;
    border: 1px solid #669999;
}

.content-right-invoices {
    width: 100%;
    height: 90%;
}

span.itemValue.itemValueFeeInvoice {
    font-size: 14px;
}

span.itemKey {
    font-size: 12px;
}

.detailItemFeeInvoiceDetailsBtn {
    text-align: right;
}

.itemDateline {
    margin-left: 15px;
}

.btn-make-record {
    margin-left: 20px;
    background-color: #ff3300;
}

.btn-notify-mail {
    margin-left: 20px;
    background-color: #ffff00;
}

.btn-payment-invoice {
    background-color: #33cc33;
    margin-left: 20px;
}

.detailItemFeeInvoiceDetailsBtn {
    padding: 10px;
    /* position: absolute;
    bottom: 0;
    left: 0;
    right: 0; */
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.btn-delete-fee-invoice {}