.widget {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 10px;
    margin: 0 10px;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    border-radius: 10px;
    height: 150px;
    // .left {
    //     display: flex;
    //     flex-direction: column;
    //     flex: 1;
    //     .title {
    //         font-weight: bold;
    //         font-size: 14px;
    //         color: rgb(160, 160, 160);
    //     }
    //     .counter {
    //         font-size: 28px;
    //         font-weight: 300;
    //     }
    // }
    // .right {
    //     width: 50px;
    //     display: flex;
    //     justify-content: flex-end;
    // }
    .top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .title {
            font-weight: bold;
            font-size: 14px;
            color: rgb(160, 160, 160);
        }
    }
    .counter {
        display: flex;
        align-items: center;
        flex: 1;
        font-size: 60px;
        font-weight: 700;
        justify-content: center;
    }
}