body {
  margin: 0;
  padding: 0;
}
h2 {
  text-align: center;
  margin-right: 21px;
}
.lContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 38px;
  justify-items: center;
  align-items: center;
  grid-template-rows: 100vh;
  // background: linear-gradient(135deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
  background-image: url(../../assets/images/bg_login.png);
  // background-color: rgb(55, 214, 214);
}

.spanLink {
  color: #1890ff;
  background-color: transparent;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  transition: color 0.3s;
}

.footer {
  color: rgb(206, 212, 217);
  text-align: center;
  font-size: 12px;
  padding: 1rem;
  user-select: none;
  margin-top: -40px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.login-form {
  width: 300px;
  margin-top: 20px;
}

.login-form-forgot {
  float: right;
}
.login-form-button {
  width: 100%;
  padding: 0 15px;
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  margin-top: 15px;
  height: 38px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
  box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
  white-space: nowrap;
  text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
  box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
  line-height: 1.499;
  &:hover {
    background-position: 100% 0;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
  }
}

.hidden {
  display: none;
}

.lItem {
  width: 300px;
  margin-top: 130px;
}

.loginForm {
  height: 340px;
  background-color: white;
  padding-left: 30px;
  padding-top: 20px;
  margin-top: -60px;
  margin-left: -30px;
  margin-right: -30px;
  border-radius: 8px;
  border: 1px solid #d8d8da;
}
.loginImage {
  margin-top: -160px;
  margin-bottom: 70px;
}

tbody {
  font-size: 14px;
}

.footerLink {
  text-decoration: none;
  color: whitesmoke;
  font-size: 12px;
  text-transform: uppercase;
}

.text-validate {
  color: red;
  margin-top: 2px;
  font-style: italic;
}
